* {
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .home_text-1 {
        font-size: 2rem;
        margin-left: 2rem;
    }

    .home_info {
        margin-left: 5rem;
    }
}


/* Header */

.header {
    justify-content: space-around;
    padding: .8rem 3rem;
    z-index: 2;
}

nav.nav_menu {
    display: flex;
    justify-content: center;
    align-content: center;
}

nav.nav_menu a {
    font-size: 1.6rem;
    padding: .5rem;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    text-decoration: none;
    letter-spacing: .2rem;
    right: 0;
    margin-right: 2.5rem;
}

nav.nav_menu a:hover,
nav.nav_menu a.active {
    color: var(--white);
    padding: .5rem;
    border-bottom: 1px solid var(--white);
    transition: all .5s;
}

nav.nav_menu.not-active a {
    display: flex;
    justify-content: center;
}

nav.nav_menu.not-active .flags {
    display: flex;
    width: 7rem;
    justify-content: center;
    align-items: center;
}

nav.nav_menu.not-active .flags__item {
    filter: contrast(65%);
    cursor: pointer;
}

nav.nav_menu.not-active .flags__item img {
    width: 3rem;
    display: block;
}

div.btn {
    display: none;
}

/* Home */

.home {
    display: flex;
    flex-direction: row-reverse; 
}

.container_image-home {
    width: 1000vh;
    height: 100vh;
}

.image_home {
    object-fit: contain;
}

.home_info {
    width: 100%;
    margin-left: 15rem;
    margin-right: 2rem;
}

.container_text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: .2rem;
    margin-top: 6rem;
}

.home_text-1 {
    font-size: 3.5rem;
    margin-left: 20.4vh;
    font-weight: bold;
}

.home_text-2 {
    font-size: 6em;
    
    font-weight: bold;
    color: var(--white);
}

.home_text-3 {
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    width: 55rem;
    letter-spacing: .2rem;
}

.container_parrafo-info p {
    font-family: 'Cooper Hewitt';
    color: var(--white);
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 2rem;
}

.container_button {
    display: flex;
    justify-content: center;
    margin-right: 1.5rem;
   
}

.cv_button {
    
    color: var(--white);
    margin-right: 1rem;
    transition: .2s;

    display: inline-block;
    
    border-radius: 1.5rem ;
    padding: .7rem 4rem .6rem 4rem;
    
    font-family: 'Cooper Hewitt';
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 2rem 0 2rem 1rem;
    border: 1px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.cv_button:hover {
    
    border: var(--base-secundario);
    background: var(--base-secundario);
    box-shadow: 0px 2px 10px var(--black);
    transform: scale(1.05);
}

.contact_button {
    display: inline-block;
    background-color: var(--white);
    border-radius: 1.5rem;
    padding: .7rem 4rem .6rem 4rem;
    color: var(--black);
    font-family: 'Cooper Hewitt';
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 2rem 0 2rem 1rem;
    border: 1px;
    cursor: pointer;
    transition: .1s;
}

.contact_button:hover {
    background-color: var(--base-secundario);
    color: var(--white);
    box-shadow: 0px 2px 10px var(--black);
    transition: 1s transform;
}

.links {
    width: auto;
    flex-direction: row;
    justify-content: center;
    
    
}

.links img {
    width: 3.5rem;
    margin: 1rem;
}

/* Sobre Mí */

.sobreMi {
    padding-bottom: 8rem;
    position: relative;
}

.sobreMi h1 {
    margin-top: 3rem;
    font-size: 3rem;
}

.container_content-sobreMi {
    justify-content: center;
    flex-direction: row-reverse;
}

.container_texto-sobreMi {
    width: 70%;
    margin-right: 15rem;
}

.title_sobreMi {
    text-align: start;
    font-size: 2.8rem;
    letter-spacing: .3rem;
}

.texto_sobreMi {
    text-align: justify;
    font-size: 2rem;
    letter-spacing: .2rem;
    line-height: 2.8rem;
}

/* Habilidades */

.habilidades {
    padding-bottom: 10rem;
    position: relative;
}

.habilidades h1 {
    padding-top: 8rem;
    font-size: 3rem;
}

.cards_container--habilidades {
    grid-template-columns: 13rem 13rem 13rem 13rem;
    grid-template-rows: 14rem 14rem;
    padding: 0;
    margin-top: 2rem;
}

.cards--habilidades:hover {
    filter: saturate(100%);
    border: 1px solid var(--black);
    background-color:var(--base-secundario);
    transition: all 1s;
}

.cards--habilidades p {
    font-size: 1.6rem;
    margin-top: .8rem;
}

/* Formación */

.formacion {
    padding-top: 10rem;
    font-size: 3rem;
}

.formacion h1 {
    padding-top: 03rem;
    font-size: 3rem;
}

.cards--formacion:hover {
    background-color: var(--base-secundario);
    border: 1px solid var(--base-secundario);
    box-shadow: 0 10px 16px -6px  var(--base-secundario);
    transform: scale(1.1);
    transition: .1s all;
}

/* Proyectos */

.proyectos{
    padding-top: 5rem;
    position: relative;
}

.cards_container--proyectos {
    display: flex;
    flex-direction: row;
}

.proyectos h1 {
    padding-top: 8rem;
    font-size: 3rem;
}

.text-portafolio {
    margin-top: -3rem;
}


/* Contacto */
.contacto{
    padding-top: 2rem;
    

}

.contacto h1 {
 
    font-size: 3rem;
}

.container_box--contacto {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.container_img--contacto {
    display: inline-block;
    width: 60rem;
    display: flex;
    justify-content: center;
}

.container_img--contacto img {
    width: 50rem;
    object-fit: contain;
}

.container--contacto {
    width: 50%;
    margin: 0;
    padding: 4rem 3rem;
}
